ul {
  padding: 0;
}
.resultsCtn {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.resultLiCtn {
  background-color: var(--clr-surface-a1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  margin: 0.1rem 0;
  padding: 0.3rem 0;
  width: 100%;
  list-style: none;
  border-bottom: 0.1px transparent;
}

.resultData {
  display: flex;
  align-items: center;
}

.resultData:hover{
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--clr-surface-a5);
  zoom: 101%;
}

.albumImgCtn {
  height: 5rem;
  border: 1px solid;
  border-radius: 15px;
  margin-right: 0.1rem;
}

.albumImgCtn > img {
  height: 100%;
  border-radius: 15px;
}

.songName {
  font-size: 0.8rem;
  font-weight: 650;
  margin: 0;
}

.artistName {
  font-size: 0.7rem;
  margin: 0;
}

.addToFavBtn {
  font-size: 1.2rem;
}

.addToFavBtn:hover {
  color: var(--clr-info-a1);
}

#removeSong:hover{
  color: var(--clr-danger-a0);
}
