/* Playlist.module.css */
.playlistNameCtn {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
  border-radius: 8px;
  background-color: var(--clr-surface-a3);
  padding: .5rem;
}

.playlistInput {
  flex: 1;
  padding: 0.25rem .5rem;
  font-size: 1rem;
  transition: all 0.2s ease;
  border: none;
  outline: none;
  background: none;
  border-radius: 5px;
}

.playlistInput:focus {
  border-color: #1db954;
  box-shadow: 0 0 0 3px rgba(29, 185, 84, 0.1);
}

.playlistInput:read-only {
  border-color: #535151;
  background-color: #6b6767;
}

.playlistSave {
  font-size: 1.5rem;
  color: #1db954;
  cursor: pointer;
  transition: color 0.2s ease;
}

.playlistSave:hover {
  color: #1ed760;
}