:root {
  /* Base Colors */
  --clr-dark-a0: #000;
  --clr-light-a0: #fff;

  /* Text colors */
  --clr-text-light-a0: #c5c0ca;
  --clr-text-dark-a0: #160126;

  /* Theme primary colors */
  --clr-primary-a0: #860bde;
  --clr-primary-a1: #9738e3;
  --clr-primary-a2: #a754e7;
  --clr-primary-a3: #b66eeb;
  --clr-primary-a4: #c486ef;
  --clr-primary-a5: #d19ef3;
  --clr-primary-a6: #ddb6f6;
  --clr-primary-a7: #e9cef9;
  --clr-primary-a8: #f4e7fc;
  --clr-primary-a9: #ffffff;

  /* Theme surface colors */
  --clr-surface-a0: #160126;
  --clr-surface-a1: #2a1d3b;
  --clr-surface-a2: #413550;
  --clr-surface-a3: #5a4e67;
  --clr-surface-a4: #73697f;
  --clr-surface-a5: #8e8597;
  --clr-surface-a6: #a9a2b0;
  --clr-surface-a7: #c5c0ca;

  /* Theme tonal surface colors */
  --clr-surface-tonal-a0: #1e0936;
  --clr-surface-tonal-a1: #34214a;
  --clr-surface-tonal-a2: #4b395f;
  --clr-surface-tonal-a3: #635274;
  --clr-surface-tonal-a4: #7c6c8a;
  --clr-surface-tonal-a5: #9588a0;
  --clr-surface-tonal-a6: #aea4b7;
  --clr-surface-tonal-a7: #c9c2cf;

  /* Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a1: #47d5a6;
  --clr-success-a2: #9ae8ce;

  /* Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a1: #d7ac61;
  --clr-warning-a2: #ecd7b2;

  /* Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a1: #d94a4a;
  --clr-danger-a2: #eb9e9e;

  /* Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a1: #4077d1;
  --clr-info-a2: #92b2e5;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--clr-primary-a9);
  background-color: var(--clr-surface-a0);
}

body {
  margin: 0;
  padding: 0;
  max-width: 700px;
  justify-self: center;
}

a {
  font-weight: 500;
  color: var(--clr-info-a1);
  text-decoration: none;
}
a:hover {
  color: var(--clr-info-a2);
}
